*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Mitr,sans-serif;
  font-weight: 600;
}

body{
  background-color: #6E5C62;
}

header{
  color: white;
  text-align: center;
  font-size: 20px;
}

main{
  width: 480px;
  margin: 0 auto;
  height: 100%;
}

.wBoard{
  margin-top: 40px;
  padding: 10px;
}

.wBoard > div {
  margin: 0 auto;
  width: fit-content;
}

.wShow, .wHidden{
  vertical-align: middle;
  background-color: #6E5C62;
  width: 82px;
  height: 82px;
  display: inline-block;
  border: 5px solid #4C4247;
  margin: 2.3px;
  border-radius: 10%;
}

.wShow, .letter{
  cursor: pointer;
}

.wHidden{
  background-color: #615358;
  border: 4px solid #615358;
}

.containerKBoard{
  width: fit-content;
  margin: 0 auto;
}

.kBoard{
  display: inline-block;
  margin-top: 36px;
}

.letter, .btnEnter{
  text-align: center;
  font-size: 27px;
  color: white;
  width: 60px;
  height: 72px;
  margin: 3.5px; 
  background-color: #4C4247;
  border-radius: 5px;
  border-style: hidden;
}

.kBoard .keyboardRow:nth-child(2){
  padding-left: 20px;
}

.kBoard .keyboardRow:nth-child(3){
  padding-left: 40px;
}

.btnEnter{
  width: fit-content;
  padding: 0 40px;
  margin-left: 25px;
}

.btnBackSpace{
  margin-left: 25px;
}


.selected {
  border-bottom: 9px solid #4C4247;
}

.letterBoard{
  color: white;
  text-align: center;
  font-size: 55px;
  line-height: 75px;
}

.teste{
  display: none;
  background-color: #009AFE;
  padding: 8px;
  padding-right: 50px;
  border-radius: 15px;
  border: hidden;
  line-break: auto;
  text-align: center;
  position: relative;
}

.exitAlert{
  background-color: rgb(255, 58, 58);
  padding: 10px;
  font-size: large;
  border: hidden;
  border-radius: 10px;
  color: white;
  height: 35px;
  line-height: 18px;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 15px;

}

.txtAlert{
  width: 90%;
  color: white;
  font-size: x-large;
  font-weight: 400;
}

.containerAlert{
  height: 50px;

}